html, body {
    margin: 0;
    height: 100%;
 }

#container {
position: relative;
}
#container canvas, .ui{
position: absolute;
}

canvas {
   width: 100%;
   height: 100%;
   display: block;
}

#batteryDiv{
   display: none;
   position:fixed;
   bottom:0;
   width:100px;
   height:150px;
   margin-bottom: 1%;
   margin-left: 1%;
}

#crateDiv{
   display: none;
   position:fixed;
   bottom:0;
   right:0;
   width:150px;
   height:150px;
   margin-bottom: 1%;
   margin-right: 1%;
}



#batteryValue{
   position:relative;
   bottom:60%;
   text-align: center;
   font-family: sans-serif;
   font-size: 200%;
   font-weight: bold;
   text-shadow: 0 0 10px #FFFFFF;
}

.b4{
   color: #276414;
}

.b3{
   color: #917508;
}

.b2{
   color: #623808;
}

.b1{
   color: #950a0a;
}

#crateValue{
   position:relative;
   bottom:60%;
   text-align: center;
   font-family: sans-serif;
   font-size: 200%;
   font-weight: bold;
   text-shadow: 0 0 10px #FFFFFF;
   color: #4b240e;
}

#crateHelpDiv{
   display: block;
   position:fixed;
   bottom:30%;
   right:41.5%;
   padding: 5px;
   width:300px;
   height:50px;

   background-color:#a19f9fab;
   border-style:solid;
   border-radius: 10px;
   border-color: rgba(75, 72, 72, 0.671)
}

.crateHelpText{
   position:relative;
   bottom:92%;
   left:25%;
   font-family: sans-serif;
   font-size: 200%;
   font-weight: bold;
   text-shadow: 0 0 10px #FFFFFF;
   color: #3e3d3d;
}


.button{
   display:block;
   cursor: pointer;
   position:fixed;
   width:200px;
   height:100px;
   top: 50%;
   left: 50%;
   

   background-color:rgb(166, 123, 4);
   border-color: #6e3c0a;
   text-align: center;
   font-family: sans-serif;
   font-size: 200%;
   font-weight: bold;
   text-shadow: 0 0 10px #FFFFFF;
   color: #4b240e;
}

#gameStartButton{
   transform: translate(-130%, -50%);
}

#controlButton{
   transform: translate(30%, -50%);
}

.alert{
   display: none;
   position:fixed;
   width:300px;
   height:150px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   text-align: center;
   font-family: sans-serif;
   font-size: 200%;
   font-weight: bold;
   text-shadow: 0 0 10px #FFFFFF;
   border-style: solid;

   
}

.retryButton{
   display:block;
   cursor: pointer;
   position:fixed;
   width:50%;
   height:20%;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, -50%);
   
   border-style: solid;

   text-align: center;
   font-family: sans-serif;
   font-size: 50%;
   font-weight: bold;
   text-shadow: 0 0 10px #FFFFFF;
   
}

.winAlert {
   background-color:rgb(67, 154, 78);
   border-color: rgb(77, 164, 90);
   color: #0d4e23;
}

.loseAlert {
   background-color:rgb(226, 76, 70);
   border-color: rgb(232, 80, 74);
   color: #8a180e;
}

.winButton {
   background-color:rgb(49, 84, 53);
   border-color: rgb(77, 164, 90);
   color: #0c2d17;
}

.winButton:hover {
   background-color:rgb(52, 111, 60);
   border-color: rgb(77, 164, 90);
   color: #0c2d17;
}

.loseButton {
   background-color:rgb(176, 54, 50);
   border-color: rgb(232, 80, 74);
   color: #5f3633;
}

.loseButton:hover {
   background-color:rgb(193, 76, 72);
   border-color: rgb(232, 80, 74);
   color: #5f3633;
}

#difficultyDiv{
   display:none;
   position:fixed;
   
   width:600px;
   height:150px;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color:rgba(110, 86, 20, 0.572);
   border-color: #6e3c0a;
   text-align: center;
   font-family: sans-serif;
   font-size: 200%;
   font-weight: bold;
   text-shadow: 0 0 10px #FFFFFF;
   color: #4b240e;
}

#diffText{
   position:relative;
   top: -10%;
}

.difficultyButton{
   display: inline-block;
   cursor: pointer;
   position:relative;
   width:30%;
   height:40%;
   top: -20%;
   left: 0%;
   /*transform: translate(-100%, -50%);*/
   background-color:rgb(154, 154, 154);
   border-color: #6e3c0a;
   text-align: center;
   font-family: sans-serif;
   font-size: 100%;
   font-weight: bold;
   text-shadow: 0 0 10px #FFFFFF;
   color: #4b240e;
}

.easy{
   background-color:rgb(85, 213, 134);
}

#easy:hover{
   background-color:rgb(46, 241, 120);
}

.medium{
   background-color:rgb(180, 170, 59);
}
#medium:hover{
   background-color:rgb(241, 225, 47);
}

.hard{
   background-color:rgb(197, 45, 18);
}
#hard:hover{
   background-color:rgb(245, 46, 11);
}



@font-face {
   font-family: myFont;
   src: url(./font/Dead\ Kansas.ttf);
}

#titleDiv{
   /*text-align: center;*/
   
   top: 50%;
   left: 50%;
   transform: translate(-50%, 0%);
   /*background:black*/
}

#titleText{
   font-family: myFont;
   font-size: 600%;
   /*text-align: center;*/
   color:rgb(162, 108, 15);
   text-shadow: -1px -1px 50px #000, 1px -1px 50px #000, -1px 1px 50px #000, 1px 1px 50px #000;
   /*
   padding:10px;
   border-style:solid;
   border-color: rgb(85, 85, 85);
   background-color: rgb(91, 91, 91);*/
   /*text-shadow: 0 0 30px #000000;*/
}

#helper{
   display:none;
   position:fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
